div#pianosvg {
    text-align : center;
    margin-top: 8%;
}
div#volume{
    position: fixed;
    top: 90%;
    left: 85%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb:hover{
    background: rgb(60, 112, 143);
}

.slider::-webkit-slider-thumb:active{
    background: rgb(42, 78, 99);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(27, 51, 65);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(44, 44, 44);
    cursor: pointer;
}

div#boutons{
    text-align: center;
    margin-top: 30px;
}

div#boutons .boutons{
    padding:6px 0 6px 0;
	font: 13px fantasy;
	background:#6184a3;
	color:#fff;
	border-radius:2px;
	width:100px;
    border:none;
    outline: 0;
}

div#boutons .boutons:hover{
    background-color:#425a70;
}

div#boutons .boutons:active{
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

div#choicebutton{
    text-align: center;
}

div#choicebutton .boutons{
    padding:6px 0 6px 0;
	font: 15px fantasy;
	background:rgb(92, 92, 92);
	color:#fff;
	border-radius:2px;
    width:170px;
    height: 40px;
    border:none;
    outline: 0;
}

div#choicebutton .boutons:hover{
    background-color:rgb(65, 65, 65);
}

div#choicebutton .boutons:active{
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

.body{
    margin: 0;
}

div#fixe .logomenu img{
    position: fixed;
    top :10px;
    left:20px;
    width:50px;
    height:50px;
}

div#fixe .logomenu1{
    position: fixed;
    top :25px;
    left:120px;
    text-decoration: none;
    font-size: 20px;
    font-family: fantasy;
    color: #4B4B4B;
}
div#fixe .logomenu1:hover{

    color:#FFFFF7;
}

div#fixe .logomenu1:active{

    color:#e8e8da;
}

div#fixe .logomenu2{
    position: fixed;
    top :25px;
    left:325px;
    text-decoration: none;
    font-size: 20px;
    font-family: fantasy;
    color: #4B4B4B;
}

div#fixe .logomenu2:hover{

    color:#FFFFF7;
}

div#fixe .logomenu2:active{

    color:#e8e8da;
}

div#summary {
    margin: 20vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
    text-align: center;
    font:18px fantasy;
    color: #4B4B4B;
}
